@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html,
body {
  background-color: whitesmoke;
  overflow-x: hidden;
  height: 100%;
  color: black;
}

.App { 
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

.header {
  position: fixed;
  width: 100%;
  background-color: white;
  color: black;
  padding: 20px 30px 20px 30px;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.header > span {
  font-weight: bold;
  font-size: 20px;
}

.header > span:hover {
  cursor: pointer;
  color: #4ca8de;
}

.footer-container { 
  padding-top: 130px;
}

.footer { 
  padding: 50px 250px 50px 250px;
}

.footer .title { 
  font-size: 20px;
  font-weight: bold;
}

.footer .content-label { 
  font-weight: 500;
}

.footer .link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.custom-header-btn { 
  border-radius: 20px;
  font-weight: bold;
  width: 100px;
  background-color: #4ca8de;
  border: none;
}

.custom-header-btn:hover {
  background-color: #4690bb;
}

.header span { 
  font-weight: bold;
}

.header span:hover {
  cursor: pointer;
  color: #4ca8de;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidenav span {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #4ca8de;
  display: block;
  transition: 0.3s;
  font-weight: 500;
}

.sidenav span:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media only screen and (max-width: 1024px) {
  .footer { 
    padding: 50px 80px 50px 80px;
  }
}

@media only screen and (max-width: 768px) {
  .footer { 
    padding: 50px 60px 50px 60px;
  }
}